# Go
services/go-api/bin/
*.exe

# .NET
services/auth-admin/bin/
services/auth-admin/obj/

# Python
__pycache__/
*.pyc
.pytest_cache/

# Env-filer med hemligheter
.env
.env.local

# OS
.DS_Store
Thumbs.db
